body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgba(82, 89, 82, 0.863);
}


/* --- Header --- */

.header {
  margin-top: -20px;
  background-color: #487a6a;
  color: #fff;
}

.header-message {
display: flex;
justify-content: center;
align-items: center;
height: 40px;
background-color: rgba(52, 98, 52, 0.641);
color: white;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: rgb(104, 40, 177);
  font-size: 50px;
  z-index: 1;
}

.page-under-title {
  display: block;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(72, 122, 106);
  text-decoration: none;
  color: rgb(171, 215, 180);
}

.navigation, .cart-icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -350px;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* --- Nav --- */

.navigation a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navigation a:hover {
  background-color: rgba(52, 98, 52, 0.641);
color: white;  
border-radius: 4px;
  opacity: 90;
}

.navigation 
a:visited {
  text-decoration: none;
}



a:link {
text-decoration: none; 
}

/* --- Footer --- */

.footer {
  margin-top: 160px;
  height: 300px;
  background-color: rgba(169, 156, 133, 0.498);
}

.info-container{
  line-height: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 200px;
  margin-left: 85%;
  max-width: 200px;
  text-decoration: underline;
}

.information-title{
  font-weight: bold;
}

.help-container .help-title{
  font-weight: bold;
  text-decoration: none;
}

.help-container{
  line-height: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -360px;
  width: 200px;
  margin-left: 70%;
  margin-top: -294px;
  max-width: 200px;
  text-decoration: underline;
}

.socials {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: -100px;
 
}



.klarna-icon img {
  margin-top: -10px;
}
.copyright{
  margin-left: 2%;
  margin-top: 40px;
  font-size: 13px;
}
/* --- About --- */
.about-title{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 50px;
}

.about-container{
  line-height: 30px;
  margin-bottom: -100px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
 -ms-animation: fadeIn 5s;
}

.about-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 830px;
}

.about-text-container{
  display: flex;
  justify-content: center;
}

.about-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/* ---  Contact --- */
.title-contact{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 50px;
}

.contact-container {
  display: flex;
  justify-content: center;
}
.contact-content {
  max-width: 900px;
  line-height: 24px;
}

.contact-img {
  margin-top: 50px;
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* --- Order Confirmation --- */
.orderconf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -450px;
  margin-top: 40px;
}

/* --- Logo for Header --- */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Home --- */
.home-title {
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 50px;
}

.home-p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.contact-btn-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

.contact-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.contact-button {
  font-size: 18px;
  border: none;
  border-radius: 3px;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 13px;
  width: 115px;
  cursor: pointer;
}

.hero {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-home {
 width: 60%;
 height: 70%;
}

.offering {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-top: 120px;
  margin-bottom: -20px;
}

.get{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.offer-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.offer-img img  {
  padding: 30px;
}

.info-offering {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}


/* --- Quantity Number --- */
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 12px;
  background-color: rgb(93, 135, 93);
  color: white;
  width: 22px;
  margin-bottom: 200px;
}

/* --- All Products --- */
a.link-products{
  width: 400px;
}

.key {
  display: flex;
}

.key-img{
  
}


/* --- Single Product  --- */
.product-img {
  margin-left: 25%;
  margin-top: -310px;
  margin-bottom: 400px;
}

.product-title{
  font-family: garamond;
  margin-left: 55%;
  margin-top: 100px;
  font-size: 45px;
}

.price-desc-container{
  margin-left: 55%;
  margin-top: 50px;
  width: 440px;
}

.add-cart-container{
  margin-left: 55%;
  margin-top: -580px;
}
.add-cart-container span {
  height: 10px;
  width: 20px;
  
}

 .input-quantity {
  font-size: 15px;
  height: 25px;
  width: 50px;
}

.add-to-cart{
  display: block;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 9px;
  width: 300px;
  margin-top: 10px;
  border: none;

}


.add-btn{
  margin: 20px auto;
  height:auto;
  width:200px;
  margin-top:5%;
}


/*   --- Tips --- */
.tips-img{
display: flex;
justify-content: center;
align-items: center;
}

.tips-title{
margin-top: 100px;
font-family: garamond;
display: flex;
justify-content: center;
font-size: 45px;
}

.tips-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tips-content{
 width: 600px;
}


/* ---- News ---- */
.news-container {
  margin-bottom: -130px;
}

.news-img  {
display: flex;
justify-content: center;
align-items: center;
}

.news-img img {
  padding: 30px;
}
.news-title{
  margin-top: 100px;
  font-family: garamond;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.planty-instagram{
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 0;
}

/* --- Cart --- */
.cart-container {
  border: solid rgba(0, 0, 0, 0.075) 1px;
  padding: 5px;
  height: 350px;
  max-height: 600px;
  overflow: auto;
  scroll-behavior: smooth;
  margin-right: 2vw;
  width: 400px;
  margin-top: 430px;
}

.cart-container::-webkit-scrollbar {
  display: none;
}


.FaShoppingCart:hover .cart-container {
display: block;}

.cart-hr{
width: 350px;
background-color: white;

}

.lower-cart-hr{
  border: solid rgba(0, 0, 0, 0.075) 1px;
  background-color: rgba(0, 0, 0, 0.075) ;
  width: 350px;
}

.cart-icon {
  margin: 0;
}

.quantity {
  margin-left: -170px;
  font-size: 12px;
}

.free{
 background-color: rgba(131, 132, 131, 0.116);
 font-size: 15px;
 line-height: 25px;
}

.freeone, .freetwo{
display: flex;
justify-content: center;
align-items: center;
}


.cart-title-container{
  position: sticky;
  margin-bottom: 0px;
  top: 0;
  background-color: white;
  width: 400px;
}

.no-items{
  display: flex;
  justify-content: center;
}

.cart-title{
  font-family: garamond;
  font-size: 40px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.cart-prodname {
  font-size: 16px;
}

.cart-amount{
  font-size: 14px;
}

.cart-total{
  font-family: garamond;
  font-size: 40px;
  margin-left: 5px;
}

.cart-img{
  margin-top: 20px;
  margin-left: 30px;
  width: 10px;
}

.remove-cart{
  border: none;
}

.checkout-links{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 50px;
  padding-bottom: 15px;
  background-color: red;
}

.link-checkout-container{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.link-checkout {
  padding: 15px 30px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: lighter;
  border-radius: 2px;
  width: 200px;
  box-shadow: 0px 0px 14px -7px #478471;
  background-image: linear-gradient(45deg, #3b6f47be 0%, #3a6748  51%, #2f8458  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.link-checkout:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.link-checkout:active {
  transform: scale(0.95);
}


/* --- Checkout --- */
.checkout {
  border:  1px rgba(128, 128, 128, 0.194);
  width: 900px;
  margin-left: 700px;
}

.checkout-title{
  font-family: garamond;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-summary{
  font-family: garamond;
  font-size: 30px;
}

.checkout-img{
 display: inline;
margin-left: 5px;
width: 200px;
}

.checkout-prodinfo{
}

.total {
  font-family: garamond;
  font-size: 25px;
}

.continue-container, .continue-container-lower {
  text-decoration: underline;
  margin-bottom: 20px;
}

.continue-lower{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 16px;
}

.quantity-label{
 border:none;
}

.checkout-quantity{
  display: block;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 9px;
  width: 300px;
  margin-top: 10px;
  border-radius: 2px;
}

.quantity-button{
border: none;
}

.checkout-prodtitle {
  font-family: garamond;
  font-size: 25px;
}

.checkout-remove{
  border: none;
  margin-left: 20px;
}

.checkout-hr {
  border: none;
  height: 1px;
  width: 900px;
  /* display: flex;
  justify-content: flex-start; */
  background-color: rgba(80, 80, 80, 0.219); 
}


.payment-container {
  text-decoration: underline;
}

.payment {
  font-size: 16px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-decoration:underline;
}

/* ---  Quantity buttons --- */
span {cursor:pointer; }
		.number{
			margin:70px;
		}
		.minus, .plus{
			width:10px;
			height:14px;
			border-radius:4px;
			padding:5px 5px 14px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:28px;
      width: 80px;
      text-align: center;
      font-size: 26px;
			border-radius:4px;
      border: none;
      display: inline-block;
      vertical-align: middle;
    }

    .quantity-container{
      border: solid rgba(128, 128, 128, 0.716);
      border-width: thin;
      padding:5px 5px 10px 5px;
    }