body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgba(82, 89, 82, 0.863);
}



/* --- Header --- */
.header {
  margin-top: -2vh;
  background-color: #487a6a;
  color: #fff;
}

.header-message {
display: flex;
justify-content: center;
align-items: center;
height: 40px;
background-color: #033d03aa;
color: white;
width: 100%;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: rgb(104, 40, 177);
  font-size: 50px;
  z-index: 1;
}

.page-under-title {
  display: block;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(72, 122, 106);
  text-decoration: none;
  color: rgb(171, 215, 180);
}

/* --- Footer --- */
.footer {
  margin-top: 15vh;
  margin-bottom: -10vh;
  background-color:#6F9C6F;
}

.footer-logo {
  font-size: 2.3rem;
  margin-left: 10%;
  margin-top: -2%;
  color: rgba(255, 255, 255, 0.738);
}

.socials {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-top: 3%;
 
}

.copyright{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: 2%;
  margin-top: 3vh;
  font-size: 0.8rem;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.694);
}
/* --- About --- */
.about-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 11%;
  margin-bottom: -5%;
  font-size: 2.5rem;
  font-family: garamond;
}

.about-container{
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
 -ms-animation: fadeIn 3s;
}

.about-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: -5%;
  margin-top: -100%;
  line-height: 2.8rem;
 color: rgba(255, 255, 255, 0.759);
  height: 10%;
  border-radius: 0.3vh;
  font-size: 1.3rem;
  padding: 1rem;
}

.about-text-container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
height: 40%;
width: 40%;
padding: 3%;
text-align: center;
margin-left: 20%;
margin-top: -13%;
margin-bottom: -6%;
}

.about-img{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 17px;
  margin-top: 10%;
  margin-bottom: 10%;
}



.about-img img {
  z-index:-1;
  width: 40%;
}

  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/* ---  Contact --- */
.title-contact{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 2%;
  font-size: 3rem;
}

.contact-container {
  display: flex;
  justify-content: center;
}
.contact-content {
  max-width: 40%;
  line-height: 2rem;
  font-size: 1.2rem;
}

.contact-img {
  margin-top: 2%;
  margin-bottom: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img img {
  height: 50%;
  width: 60%;
}


/* --- Order Confirmation --- */
.orderconf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 2%;
}

.orderconf img {
  width: 30%;
  height: 40%;
}

/* --- Logo for Header --- */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Home --- */
.home-title {
  margin-top: 15%;

  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  font-size: 3rem;
}

.home-p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.contact-btn-container {
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
}

.contact-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.contact-button {
  font-size: 1.1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 1rem;
  width: 9%;
  height: 10%;
  cursor: pointer;
}
 a{
  text-decoration: none;
}

.hero {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-home {
 width: 60%;
 height: 70%;
}

.offering {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 12vh;
  margin-bottom: -2vh;
}

.get{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
}

.offer-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2vh;
}

.offer-img img  {
  padding: 30px;
  width: 17%;
  height: 17%;
}

.home {
  margin-top:-15%;
  display: inline;
  margin-left: 15%;
  color: white;
  background-color: rgba(32, 109, 32, 0.519);
  font-size: 1rem;
}

.high{
  margin-top:-15%;
  margin-left: 9%;
  color: white;
  background-color: rgba(32, 109, 32, 0.519);
  font-size: 1rem;
}

.care{
  margin-top:-15%;
  margin-left: 9%;
  color: white;
  background-color: rgba(32, 109, 32, 0.519);
  font-size: 1rem;
}

/* --- All Products --- */

.our-products {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 2.5rem;
  font-family: garamond;
  margin-bottom: -13%;
}

.products-container  {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
padding: 2%;
text-align: center;
margin-top: 10%;
margin-bottom: -5%;
}

.product-titles{
  font-size: 1.2rem;
}

.quantity-container{
  margin-top: -47vh;
  width: 8%;
  height: 1.8vh;
  border: solid rgba(128, 128, 128, 0.716);
  border-width: thin;
  padding:1px 1px 16px 1px;
  text-align: center;
}

.quantity-container span {
height: 50%;
width: 2%;

}

.plus, .minus {
font-size: 1rem;
height: 2%;
width: 5%;
margin-top: 5%; 
padding: 0;
}

.input-quantity{
  margin-top: 2%;
}


/* --- Single Product  --- */
.product-img {
  margin-left: 18%;
  margin-top: -20%;
  margin-bottom: 37%;

}

.product-img img {
  height: 20%;
  width: 30%;

}

.product-title{
  font-family: garamond;
  margin-left: 45%;
  margin-top: 15%;
  font-size: 2.5rem;
  font-weight:bold;
}

.product-info{
  margin-left: 45%;
  margin-top: 2%;
  width: 40vh;
  margin-bottom: -25%;
  line-height: 2rem;
}

.stock {
  color: green;
  padding: 0px;
  font-size: 1rem;
}
.add-cart-container-product{
  margin-left: 45%;
  margin-top: -42%;
  width: 8%;
  height: 1.8vh;
  border: solid rgba(128, 128, 128, 0.716);
  border-width: thin;
  padding:1px 1px 16px 1px;
  text-align: center;
}

.add-cart-container-product span {
  height: 50%;
  width: 2vh;
  
}

 .input-quantity-product, .plus, .minus {
  font-size: 1rem;
  height: 2vh;
  width: 5vh;
  margin-bottom: 3%;  
}


.input-quantity-product {
  outline:0;
  margin-bottom: 3%;
}

.add-to-cart{
  display: block;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 9px;
  border: none;
  width: 100%;
  margin-top: 10%;
}

.add-to-cart:hover{
cursor: pointer;
transform: scale(1.1);
}


.add-btn {
  margin: 2vh auto;
  height:auto;
  width:20vh;
  margin-top:5%;
}
/*   --- Tips --- */
.tips-page-title{
  margin-top: 20%;
  font-family: garamond;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 15%;
  }


.tips {
  line-height: 1.7rem;
  margin-bottom: -10vh;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
 -ms-animation: fadeIn 3s;
}

.tips-container {
  display: flex;
  justify-content: center;
  margin-top: -10%;
  line-height: 2.8rem;
  padding: 1rem;
}

.tips-content{
 width: 50%;
 margin-left: 3%;
 margin-top: -3%;
}

.tips-title{
  max-width: 20%; 
  margin-left: 5%;
  font-weight:bold;
  margin-left: 27%;
  margin-bottom: 12%;
  margin-top: -9%;

}


.tips-img {
  display: flex;
  justify-content: center;
}

.tips-img img {
  width: 30%;
  height: 30%;
  margin-top: -1%;
  margin-bottom: -2%;
  padding: 1%;
}



/* ---- News ---- */
.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: -9%;
}


.arrow {
  margin-top: 0.5%;
  margin-right: 1%;
}


.news-img img {
  padding: 1%;
  height: 30%;
  width: 30%;
}

.news-title{
  margin-bottom: -8%;
  font-family: garamond;
  display: flex;
  justify-content: center;
  font-size: 2.1rem;
}


.planty-instagram{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 10%;
  margin-bottom: -10%;
  font-weight: bold;
  color: rgba(36, 84, 36, 0.689);

}

.link-to-news{
  display: flex;
  justify-content: center;
  margin-bottom: -5%;
  font-size: 1.2rem;
}

.arrow {
  margin-top: 0.5%;
  margin-right: 1%;
}


/*--- News Page --- */
.news-title{
  margin-top: 10%;
}



/* --- Cart --- */
.cart-container {
  border: solid rgba(56, 145, 36, 0.127) 1px;
  padding: 1rem;
  height: 20%;
  max-height: 60vh;
  overflow: auto;
  scroll-behavior: smooth;
  width: 90%;
  margin-top: 22%;
}

.cart-container::-webkit-scrollbar {
  display: none;
}


.FaShoppingCart:hover .cart-container {
display: block;
}

.cart-hr{
width: 28vh;
background-color: white;

}

.lower-cart-hr{
  border: solid rgba(0, 0, 0, 0.075) 1px;
  background-color: rgba(0, 0, 0, 0.075) ;
  width: 28vh;
}

.cart-icon {
  margin: 0;
}

.quantity {
  margin-left: -17vh;
  font-size: 12px;
}

.cart-title-container{
  margin-top: -14%;
  margin-bottom: 0;
  background-color: white;
  padding: 10px;
  width: 25vh;
}

.no-items{
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: garamond;
}

.cart-title{
  font-family: garamond;
  font-size: 2rem;
  margin-bottom: 1vh;
  margin-left: 0vh;
  
}
.cart-prodname {
  font-size: 1.2rem;
}


.cart-amount{
  font-size: 1rem;
}

.cart-img{
  margin-top: 2vh;
  margin-left: 1vh;
}

.remove-cart{
  border: none;
  margin-top: 2%;
  background-color: white;
}

.remove-cart:hover{
  cursor: pointer;
}


.link-checkout-container{
  display: flex;
  justify-content: center;
  margin-top: 3%;
  height: 10%;
}


.link-checkout {
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: lighter;
  font-family: garamond;
  border-radius: 4px;
  width: 50%;
  font-size: 1.5rem;
  box-shadow: 0px 0px 14px -7px #1a4b20;
  color: white;
  background-image: linear-gradient(45deg, #214a2abe 0%, #3a6748  51%, #549774  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; 
  margin-bottom: 1%;
}

.link-checkout:hover {
  background-position: right center;
  text-decoration: none;
}



/* --- Checkout --- */
.checkout {
  border:  1px rgba(128, 128, 128, 0.194);
  width: 90vh;
  margin-left: 30%;
}

.checkout-title{
  margin-top: 45%;
  margin-left: -75%;
  font-family: garamond;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

.order-summary{
  font-family: garamond;
  font-size: 2.1rem;
}


.checkout-img{
display: inline;
margin-left: 1%;
 width: 20%;
}

.total {
  font-family: garamond;
  font-size: 1.7rem;
}


.checkout-quantity{
  display: block;
  font-size: 1rem;
  border: none;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 1.5%;
  width: 25%;
  margin-top: 3%;
  border-radius: 3px;
}

.checkout-quantity:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.checkout-prodtitle {
  font-family: garamond;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1%;
}

.checkout-remove{
  border: none;
  margin-left: 2%;
  background-color: white;
}

.checkout-remove:hover {
  cursor: pointer;
}

.checkout-hr {
  border: none;
  height: 0.05rem;
  width: 90vh;
  margin-top: 5%;
  margin-bottom: 3vh;
  background-color: rgba(80, 80, 80, 0.219); 
}


.payment-container {
  text-decoration: underline;
  margin-top: 10%;
}

.payment {
  font-size: 1rem;
  text-decoration:underline;
}

.input-quantity, .plus, .minus {
  font-size: 1rem;
  height: 2vh;
  width: 5vh;
  margin-bottom: 3%;  
}


.input-quantity-checkout {
  outline:0;
  margin-bottom: 1%;
  font-size: 1rem;
}

/* ---  Quantity buttons --- */
span {cursor:pointer; }
		.number{
			margin:7vh;
		}
		.minus, .plus{
			width:1vh;
			height:1.4vh;
			border-radius:4px;
			padding:5px 5px 14px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:2.8vh;
      width: 8vh;
      text-align: center;
      font-size: 2.2rem;
			border-radius:4px;
      border: none;
      display: inline-block;
      vertical-align: middle;
    }

    .quantity-container{
      border: solid rgba(128, 128, 128, 0.716);
      border-width: thin;
      padding:1px 1px 16px 1px;
    }




    /* --- Hamburger menu & Cart icon  ---- */
    
    /* Cart Hover */
    .button2 {
      float: right;
      border: none;
      color: rgb(255, 255, 255);
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-top: -15%;
      margin-right: -5%;
      cursor: pointer;
    }
  
    .button2 {font-size: 30px;
    }
  
    .button2 {padding: 10px 24px;
    }
  
    .button2 {border-radius: 2px;
    }

    .button2 {
      color: rgb(255, 255, 255);
      background-color: white;
      margin-top: -12%;
    }

    .button2 {
      transition-duration: 0.4s;
    }
  
   .dropdown {
   margin-right: 5%;
   }
  
    .dropdown-content {
      display: none;
      margin-left: 75%;
      position: absolute;
      margin-top: -15%;
      padding: 12px 16px;
      min-width: 160px;
      text-decoration: none;
      z-index:1;
    }
  
    .dropdown-content a {
      margin-right: 0;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  
    .dropdown-content a:hover {
      display:block;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
      padding: 50px 50px 50px ;
    }

  #menuToggle{
    display: block;
    width: 5%;
    position: relative;
    margin-top: -10%;  
    left: 5%;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a{
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }
  
  #menuToggle span{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #406c54a3;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: 
    transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }
  
  #menuToggle span:first-child{
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
  }
  
   
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #9c3d3d00;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li{
    padding: 10px 0;
    font-size: 22px;
  }

  #menu li:hover {
    color:  #279627;
    text-decoration: underline;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }


 /* -------- Responsitivity --------- */


    /* --- Nesthub --- */


@media screen and (min-width: 1024vh) {
  /* Single Product */
  .product-img{
    margin-top: -30%;
  }
  .add-to-cart{
    margin-top: 60%;
    margin-top: 15%;
    margin-left: -2%;
  }
  .add-cart-container{
    margin-top: -21%;
  }
  .add-cart-container span {
    height: 10%;
  }
  .plus, .minus {
    margin-top: -10%;
  }


  /* Cart */
  .cart-title{
  font-size: 1.5rem;
  }

  /* Checkout */
.order-summary, .continue, .total{
  margin-left: -3% ;
}
.quantity-container{
 height: 5%;
 padding: 1%;
}
.input-quantity{
  margin-top: 0%;
}

/* About */
.about-text{
  margin-top: -50%;
  margin-bottom: 20%;
}

/* NewsPage */
.news-title{
  margin-top: 10%;
}

/* Tips */
.tips-content{
  width: 60%;
}
}



/* ----- Surface Pro 7 ------ */
@media screen and (min-width: 912vh) {

/* Home */
  .contact-button{
    width: 20%;
  }
  .link-to-news{
    margin-bottom: -15%;
  }
  /* Products */
.products-container{
  margin-bottom: -10%;
}

/* Single product */
.product-price{
  margin-top: -4%;
}
.product-img img {
  height: 40%;
  width: 40%;
  margin-left: -10%;
}
.product-description{
  width: 80%;
}
.add-cart-container-product{
  background-color: green;
  width: 18%;
  border-width: thin;
  padding:1px 1px 5px 1px;
  text-align: center;
  margin-top: -27%;
}

.add-cart-container-product span {
  height: 5%;
  width: 1%;
}

 .input-quantity-product {
  height: 80%;
  width: 50%;
  margin-bottom: -2%;  
}
.plus-product{
  margin-right: 8%;
}

.add-to-cart{
  width: 170%;
  margin-bottom: -31%;
}

.product-hr{
  width: 80%;
  margin-left: -1%;
}

/* About */
.about-text{
  margin-top: -70%;
}

/* Cart */
.cart-container{
  width: 45%;
  margin-top: -18%;
  font-size: 0.2rem;
  margin-left: -10%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  max-height: 5%;
}

.cart-img{
  margin-left: -1%;
}

.cart-img img {
height: 75%;
width: 75%;
}
.cart-hr{
  width: 40%;
  margin-left: -2%;
}
.lower-cart-hr{
  width: 100%;
  margin-left: -2%;
}
.remove-cart{
  margin-left: -5%;
}
.free-container {
  display: none;
}
.no-items {
  font-size: 1.2rem;
}

.link-checkout{
  font-size: 1rem;
}

.button2{
  margin-right: -3%;
  margin-top: -25%;
}

/* Checkout */
.checkout-hr{
  width: 25%;
  margin-left: -4%;
}

.order-summary, .continue, .total{
  margin-left: -3% ;
}
.quantity-container{
 height: 5%;
 width: -2%;
}

.input-quantity-checkout {
  margin-left: 1%;
  font-size: 1.3rem;
  background-color: rgba(56, 55, 55, 0.058);
}
.decr{
  margin-right: -3%;
}
.add{
  margin-left: -3%;
}

/* Order confirmation */
.orderconf img{
  margin-bottom: -10%;
  width: 40%;
  height: 30%;
}
}

/* ----- Iphone 12 ------ */
@media screen and (min-width: 390vh) {

  /* Home */
  .logo img {
    width: 80%;
  }
  .home-title{
    font-size: 2rem;
  }
  .home-p{
    font-size: 0.6rem;
  }
  .contact-button{
    font-size: 1rem;
    width: 30%;
  }
  .hero-home  {
    width: 80%;
    height: 80%;
    margin-bottom: -10%;
  }
  .get{
    font-size: 1.9rem;
  }
  .offering{
    font-size: 1.1rem;
  }
  .offer-img img {
    padding: 1%;
  }

  /* Footer */
  .footer-logo{
    font-size: 1.2rem;
  }

  /* Header */
  .logo{
    margin-left: 15%;
  }
  #menuToggle{
    margin-left: -10%;
    background-color: white;
    margin-top: 1%;
  }
  #menu li:hover{
    text-decoration: underline;
  }
  #menu li{
    font-size: 0.7rem;
    background-color: white;
    width: 30%;
  }
  .button2{
    margin-top: -7%;
    width: 20%;
  }

  /* About */
.about-img{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 7%x;
  margin-top: 10%;
  height: 50%;
  margin-bottom: 10%;
}
.about-text{
  font-size: 0.5rem;
  line-height: 0.6rem;
  margin-top: -120%;
  margin-left: -13%;
  width: 50%;
}

/* Tips */
.tips-page-title{
  font-size: 1.8rem;
}
.tips-content{
  line-height: 1.5rem;
}

/* Contact */
.title-contact{
  font-size: 2rem;
}
.contact-content{
  font-size: 0.9rem;
  width: 100%;
}
.contact-container{
  width: 200%;
  margin-left: -45%;
}

/* Single Product */
.product-title{
  font-size: 1.5rem;
}
.product-hr{
  width: 83%;
}
.stock{
  font-size: 0.5rem;
}
.product-info{
  font-size: 0.7rem;
  width: 60%;
}
.add-cart-container-product{
  border-width: thin;
  text-align: center;
  margin-left: 40%;
  margin-top: -30%;
}


 .input-quantity-product {
  margin-bottom: -2%;  
  font-size: 1rem;
}
.plus-product{
  margin-right: 8%;
}

.add-to-cart{
  width: 40%;
  font-size: 0.83rem;
  margin-left: 25%;
  margin-top: 4%;
}

/* Cart */
.cart-container{
margin-left: -50%;
margin-top: -13%;
width: 60%;
}

/* Checkout */
.checkout-title{
  margin-left: -82%;
  margin-top: 15%;
}
.to-orderconf{
  margin-bottom: -10%;
}
.checkout-hr{
  width: 36%;
}
.checkout-img{
  margin-left: -5%;
}
}