body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgba(82, 89, 82, 0.863);
}

/* --- Header --- */
.header {
  margin-top: -2vh;
  background-color: #487a6a;
  color: #fff;
}

.header-message {
display: flex;
justify-content: center;
align-items: center;
height: 40px;
background-color: #162716a3;
color: white;
width: 100%;
}

.page-title {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: rgb(104, 40, 177);
  font-size: 50px;
  z-index: 1;
}

.page-under-title {
  display: block;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(72, 122, 106);
  text-decoration: none;
  color: rgb(171, 215, 180);
}

/* --- Nav --- */
/* .navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  top: 0;
  width: 90%;
}

.navigation a {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navigation a:hover {
  background-color: rgba(52, 98, 52, 0.641);
color: white;  
border-radius: 4px;
  opacity: 90;
}

.navigation 
a:visited {
  text-decoration: none;
}



a:link {
text-decoration: none; 
}
 */
/* --- Footer --- */

.footer {
  margin-top: 15vh;
  margin-bottom: -10vh;
  background-color:#6F9C6F;
}

.footer-logo {
  font-size: 2.3rem;
  margin-left: 10%;
  margin-top: -2%;
  color: rgba(255, 255, 255, 0.738);
}

.socials {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: -1vh;
 
}

.copyright{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-left: 2%;
  margin-top: 3vh;
  font-size: 0.8rem;
  font-weight: medium;
  color: rgba(255, 255, 255, 0.694);
}
/* --- About --- */
.about-title{

  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22%;
  margin-bottom: -13vh;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.834);
}

.about-container{
  line-height: 30px;
  margin-bottom: -10vh;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
 -ms-animation: fadeIn 3s;
}

.about-text{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-top: -35%;
  line-height: 2.8rem;
 color: rgba(255, 255, 255, 0.759);
  height: 10%;
  border-radius: 0.3vh;
  font-size: 1.5rem;
  padding: 1rem;
}

.about-text-container{
  display: flex;
  justify-content: center;
}

.about-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

.about-img img {
  height: 20%;
  width: 35%;
  z-index:-1;
}

.about-button-container{
  margin-top: -10%;  
}
.about-button{
  font-size: 1.1rem;
  border: none;
  border-radius: 0.2rem;
  background-color: rgba(93, 135, 93, 0.709);
  color: white;
  cursor: pointer;
  padding: 1rem;
}

.about-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


/* ---  Contact --- */
.title-contact{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 1vh;
  font-size: 3rem;
}

.contact-container {
  display: flex;
  justify-content: center;
}
.contact-content {
  max-width: 40%;
  line-height: 2rem;
}

.contact-img {
  margin-top: 2vh;
  margin-bottom: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-img img {
  height: 40%;
  width: 40%;
}


/* --- Order Confirmation --- */
.orderconf {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10%;
  margin-bottom: -4%;
}

/* --- Logo for Header --- */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --- Home --- */
.home-title {
  margin-top: 15%;

  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vh;
  font-size: 3rem;
}

.home-p{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.contact-btn-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

.contact-button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.contact-button {
  font-size: 1.1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 1rem;
  width: 9%;
  height: 10%;
  cursor: pointer;
}

.hero {
  margin-top: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-home {
 width: 60%;
 height: 70%;
}

.offering {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 12vh;
  margin-bottom: -2vh;
}

.get{
  font-family: garamond;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
}

.offer-img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2vh;
}

.offer-img img  {
  padding: 30px;
  width: 17%;
  height: 17%;
}

.info-offering {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.home {
  margin-top:-15%;
  display: inline;
  margin-left: 15%;
  color: white;
  background-color: rgba(32, 109, 32, 0.519);
  font-size: 1rem;
}

.high{
  margin-top:-15%;
  margin-left: 9%;
  color: white;
  background-color: rgba(32, 109, 32, 0.519);
  font-size: 1rem;
}

.care{
  margin-top:-15%;
  margin-left: 9%;
  color: white;
  background-color: rgba(32, 109, 32, 0.519);
  font-size: 1rem;
}
/* --- Quantity Number in Header/Cart--- */
/* .quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 12px;
  background-color: rgb(93, 135, 93);
  color: white;
  width: 22px;
  margin-bottom: 200px;
} */

/* --- All Products --- */
.products-container  {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 17px;
text-align: center;
margin-top: 10%;
}






/* --- Single Product  --- */
.product-img {
  margin-left: 20%;
  margin-top: -15%;
  margin-bottom: 17%;

}

.product-img img {
  height: 20%;
  width: 30%;

}

.product-title{
  font-family: garamond;
  margin-left: 45%;
  margin-top: 15%;
  font-size: 2.5rem;
}

.product-info{
  margin-left: 45%;
  margin-top: 5vh;
  width: 40vh;
}

.add-cart-container{
  margin-left: 45%;
  margin-top: -47vh;
  width: 8%;
  height: 1.8vh;
  border: solid rgba(128, 128, 128, 0.716);
  border-width: thin;
  padding:5px 5px 15px 4px;
  text-align: center;
}

.add-cart-container span {
  height: 50%;
  width: 2vh;
  
}

 .input-quantity, .plus, .minus {
  font-size: 1rem;
  height: 2vh;
  width: 5vh;
  margin-bottom: 5px;
  
}



.add-to-cart{
  display: block;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 9px;
  width: 25vh;
  margin-top: 1vh;
  border: none;
}


.add-btn {
  margin: 2vh auto;
  height:auto;
  width:20vh;
  margin-top:5%;
}
/*   --- Tips --- */
.tips-page-title{
  margin-top: 20%;
  font-family: garamond;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  margin-bottom: 30vh;
  }

  .tips-title, .tips-title2{
    font-family: garamond;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
  }

.tips {
  line-height: 1.7rem;
  margin-bottom: -10vh;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
 -ms-animation: fadeIn 3s;
}

.tips-img{
display: flex;
justify-content: center;
margin-top: -60vh;
margin-bottom: 10vh;
}

.tips-img img {
  height: 30%;
  width: 30%;
}

.tips-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;

  max-width: 20%; 
  margin-top: 10vh;
}

.tips-title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 9%;
  max-width: 20%; 
  margin-bottom: -8vh;
}

.tips-content{
padding:0px;
}


/* ---- News ---- */
.news-container {
  margin-bottom: -13vh;
}

.news-img  {
display: flex;
justify-content: center;
align-items: center;
}

.news-img img {
  padding: 1rem;
  height: 17%;
  width: 17%;
}
.news-title{
  margin-top: 10vh;
  font-family: garamond;
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

.planty-instagram{
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 0;
}

/* --- Cart --- */
.cart-container {
  border: solid rgba(94, 230, 63, 0.755) 1px;
  padding: 1rem;
  height: 30vh;
  max-height: 60vh;
  overflow: auto;
  scroll-behavior: smooth;
  width: 33vh;
  margin-top: 22%;
}

.cart-container::-webkit-scrollbar {
  display: none;
}


.FaShoppingCart:hover .cart-container {
display: block;
}

.cart-hr{
width: 28vh;
background-color: white;

}

.lower-cart-hr{
  border: solid rgba(0, 0, 0, 0.075) 1px;
  background-color: rgba(0, 0, 0, 0.075) ;
  width: 28vh;
}

.cart-icon {
  margin: 0;
}

.quantity {
  margin-left: -17vh;
  font-size: 12px;
}

.free-container{
 background-color: rgba(131, 132, 131, 0.116);
}

.freeone, .freetwo{
display: flex;
justify-content: center;
align-items: center;
font-size: 0.8rem;
}


.cart-title-container{
  position: sticky;
  margin-bottom: 0;
  margin: 0;
  background-color: white;
  padding: 10px;
  width: 25vh;
}

.no-items{
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-family: garamond;
}

.cart-title{
  font-family: garamond;
  font-size: 2rem;
  margin-bottom: 1vh;
  margin-left: 0vh;
}
.cart-prodname {
  font-size: 1.2rem;
}

.cart-amount{
  font-size: 1rem;
}

/* .cart-total{
  font-family: garamond;
  font-size: 2.5rem;
  margin-left: 5vh;
  background-color: red;
} */

.cart-img{
  margin-top: 2vh;
  margin-left: 1vh;
}

.remove-cart{
  border: none;
  margin-top: -1vh;
  margin-left: 10vh;
  background-color: white;
}

/* .checkout-links{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 50px;
  padding-bottom: 15px;
  background-color: red;
}
 */
.link-checkout-container{
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}
.link-checkout {
  padding: 1.5rem 3rem;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  font-weight: lighter;
  border-radius: 2px;
  width: 20vh;
  box-shadow: 0px 0px 14px -7px #478471;
  background-image: linear-gradient(45deg, #3b6f47be 0%, #3a6748  51%, #2f8458  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.link-checkout:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.link-checkout:active {
  transform: scale(0.95);
}


/* --- Checkout --- */
.checkout {
  border:  1px rgba(128, 128, 128, 0.194);
  width: 90vh;
  margin-left: 700px;
}

.checkout-title{
  margin-top: 45%;
  margin-left: -75%;
  font-family: garamond;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.order-summary{
  font-family: garamond;
  font-size: 2.1rem;
}

.checkout-img{
 display: inline;
margin-left: 0vh;
width: 20vh;
}

.total {
  font-family: garamond;
  font-size: 1.7rem;
}

.continue-container, .continue-container-lower {
  text-decoration: underline;
  margin-bottom: -10vh;
}

.continue-lower{
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  font-size: 1rem;
}

.quantity-label{
 border:none;
}

.checkout-quantity{
  display: block;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
  background-color: rgb(93, 135, 93);
  color: white;
  padding: 0.7rem;
  width: 24vh;
  margin-top: 1.5vh;
  border-radius: 2px;
}

.quantity-button{
border: none;
}

.checkout-prodtitle {
  font-family: garamond;
  font-size: 1.6rem;
}

.checkout-remove{
  border: none;
  margin-left: 2vh;
}

.checkout-hr {
  border: none;
  height: 0.05rem;
  width: 90vh;
  margin-top: 12vh;
  margin-bottom: 3vh;
  background-color: rgba(80, 80, 80, 0.219); 
}


.payment-container {
  text-decoration: underline;
}

.payment {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  text-decoration:underline;
}

/* ---  Quantity buttons --- */
span {cursor:pointer; }
		.number{
			margin:7vh;
		}
		.minus, .plus{
			width:1vh;
			height:1.4vh;
			border-radius:4px;
			padding:5px 5px 14px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
		}
		input{
			height:2.8vh;
      width: 8vh;
      text-align: center;
      font-size: 2.2rem;
			border-radius:4px;
      border: none;
      display: inline-block;
      vertical-align: middle;
    }

    .quantity-container{
      border: solid rgba(128, 128, 128, 0.716);
      border-width: thin;
      padding:5px 5px 10px 5px;
    }




    /* Hamburger menu */



    /* Cart Hover */
    .button2 {

      float: right;
  
      border: none;
  
      color: rgb(255, 255, 255);
  
      padding: 15px 32px;
  
      text-align: center;
  
      text-decoration: none;
  
      display: inline-block;
  
      font-size: 16px;
      margin-top: -12%;
      margin-right: -5%;
  
  
      cursor: pointer;
  
   
  
    }
  
   
  
    .button2 {font-size: 30px;}
  
   
  
    .button2 {padding: 10px 24px;}
  
   
  
    .button2 {border-radius: 2px;}
  
   
  
    .button2 {
  
  
      color: rgb(255, 255, 255);
      background-color: white;
    }
  
   
  
    .button2 {
  
      transition-duration: 0.4s;
  
    }
  
   
  

  
   .dropdown {
  margin-right: 5%;
  
   }
  
    .dropdown-content {
      display: none;
  margin-left: 75%;
      position: absolute;
      margin-top: -15%;
      padding: 12px 16px;
      min-width: 160px;
      text-decoration: none;
      z-index:1;
    }
  
   
  
    .dropdown-content a {
      margin-right: 0;
  
      color: black;
  
      padding: 12px 16px;
  
      text-decoration: none;
  
      display: block;
    }
  
   
  
    .dropdown-content a:hover {
      background-color: #b8b8b8;
      display:block;
      padding: 50px 50px 50px ;
    }
  
   
  
    .dropdown:hover .dropdown-content {
  
      display: block;
      padding: 50px 50px 50px ;

  
    }
  
  
   
  
    
  

  
   
  
  #menuToggle
  
  {
  
    display: block;
    width: 5%;
  
    position: relative;
  
margin-top: -10%;  
    left: 50px;
  
    z-index: 1;
  
   
  
    -webkit-user-select: none;
  
    user-select: none;
  
  }
  
   
  
  #menuToggle a
  
  {
  
    text-decoration: none;
  
    color: #232323;
  
   
  
    transition: color 0.3s ease;
  
  }
  
   
  
  #menuToggle a:hover
  
  {
  
    color: tomato;
  
  }
  
   
  
  #menuToggle input
  
  {
  
    display: block;
  
    width: 40px;
  
    height: 32px;
  
    position: absolute;
  
    top: -7px;
  
    left: -5px;
  
   
  
    cursor: pointer;
  
   
  
    opacity: 0;
  
    z-index: 2;
  
   
  
    -webkit-touch-callout: none;
  
  }
  
   
  
  #menuToggle span
  
  {
  
    display: block;
  
    width: 33px;
  
    height: 4px;
  
    margin-bottom: 5px;
  
    position: relative;
  
   
  
    background: #cdcdcd;
  
    border-radius: 3px;
  
   
  
    z-index: 1;
  
   
  
    transform-origin: 4px 0px;
  
   
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  
                opacity 0.55s ease;
  
  }
  
   
  
  #menuToggle span:first-child
  
  {
  
    transform-origin: 0% 0%;
  
  }
  
   
  
  #menuToggle span:nth-last-child(2)
  
  {
  
    transform-origin: 0% 100%;
  
  }
  
   
  
  #menuToggle input:checked ~ span
  
  {
  
    opacity: 1;
  
    transform: rotate(45deg) translate(-2px, -1px);
  
    background: #232323;
  
  }
  
   
  
  #menuToggle input:checked ~ span:nth-last-child(3)
  
  {
  
    opacity: 0;
  
    transform: rotate(0deg) scale(0.2, 0.2);
  
  }
  
   
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  
  {
  
    transform: rotate(-45deg) translate(0, -1px);
  
  }
  
   
  
  #menu
  
  {
  
    position: absolute;
  
    width: 300px;
  
    margin: -100px 0 0 -50px;
  
    padding: 50px;
  
    padding-top: 125px;
  
   
  
    background: #9c3d3d00;
  
    list-style-type: none;
  
    -webkit-font-smoothing: antialiased;
  
   
  
    transform-origin: 0% 0%;
  
    transform: translate(-100%, 0);
  
   
  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  }
  
   
  
  #menu li
  
  {
  
    padding: 10px 0;
  
    font-size: 22px;
  
  }

  #menu li:hover {
    color:  #279627;
    text-decoration: underline;

  }
  
   
  
  #menuToggle input:checked ~ ul
  
  {
  
    transform: none;}